PORT=3005
CLIENT_ID=GO_BOILERPLATE
ALLOWED_CLIENT_IDS=
ALLOWED_ORIGINS=

SERVICE_TOKEN=xxxxxx
JWT_ACCESS_SECRET=xxxxxx
JWT_REFRESH_SECRET=xxxxxx
ACCESS_TOKEN_EXPIRATION=15
REFRESH_TOKEN_EXPIRATION=43200

DB_DSN="host= user= password= dbname= port= sslmode= TimeZone="
DB_MAX_CONN_IDLE=10
DB_MAX_CONN_IDLE_LIFETIME=30
DB_MAX_CONN=25
DB_MAX_CONN_LIFETIME=60
DB_AUTO_MIGRATE=